*{
    margin: 0 auto;
    padding: 0;
}

:root{
    --cor-rosa: #e18599;
    --cor-verde: #1a7f50;
    --cor-cinza: #444444;
    --cor-cinza-claro: #fcfbfb;
    --fonte: 'Rubik', sans-serif;
}

body{
    font-family: var(--fonte);
    background-color: var(--cor-cinza-claro);
}

/* ESTILIZAÇÃO - HEADER */

.menu-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    background-color: white;
    height: 80px;
}

.logo {
    width: 220px; /* Define o tamanho da logo */
}

.menu2{
    background-color: var(--cor-verde); /* estiliza o menuzinho direito */
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.menu-principal a:hover {
    transform: scale(105%);
}

.menu2 a:hover {
    transform: scale(105%);
}

.menu2 ul,
.menu-principal ul {
    display: flex;  /* deixa o menu na horizontal */
    list-style: none;
    margin: 0;
    padding: 0;
    color: black;
}

.menu2 li,
.menu-principal li {
    margin: 0 10px; /* os itens de lista não ficam grudados */
}

.menu2 a,
.menu-principal a {
    display: flex;
    flex-direction: column; /* sobe a imagem */
    justify-content: center;  
    align-items: center;
    text-decoration: none;
    color: var(--cor-cinza);
    font-size: 14px;
}

.menu2 a{
    flex-direction: row;
}

.menu2 img,
.menu-principal img {
    width: 30px;
    margin: 5px;
}
  
.menu2 h3,
.menu-principal h3 {
    font-weight: normal;
    margin: 0;
    font-size: 14px;
}

.menu2 h3{
    color: rgb(255, 255, 255);
    font-weight:500;
}

.menu-principal li {
    margin: 0 25px; /* separando elementos do menu (horizontalmente) */
}

/* ESTILIZAÇÃO - MAIN */

/*  section topicos */

.conteudo{
    display: flex; /* centraliza a div bloco */
    justify-content: center;
    align-items: center;
    background-color: #1a7f50;
    height: 25vh;
    border-bottom: 2px solid #d0d0d0;
}

.bloco {
    background-color: #e18599; /* define o tamanho da div bloco */
    border-radius: 10px;
    width: 85%;
    height: 90%;
}

.conteudo{
    color: white;
}

.icon{
    width: 30px;
}

.botao-vermelho{
    background-color: #809f84;
    padding: 10px 15px;
    font-size: 15px;
    border-radius: 30px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.botao-vermelho:hover{
    background-color: #657e69;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bloco{
    display: flex;
    justify-content: center;
    align-items: center;
}

form input{
    outline: unset;
    padding: 15px;
    border: 2px solid #1a7f50b3;
    border-radius: 10px;
    background-color: var(--cor-cinza-claro);
}

select{
    outline: unset;
    padding: 15px;
    border: 2px solid #1a7f50b3;
    border-radius: 10px;
    color: var(--cor-cinza);
    background-color: var(--cor-cinza-claro);
}

label{
    position: relative;
    margin: 8px;
}

label > input,
label > select {
  padding-top: 20px; 
}

label > span {
    position: absolute; /* texto dentro do input */
    margin: 8px 10px;
    font-size: 12px;
    text-transform: uppercase;
    color: var(--cor-cinza);
    top: 0;
    left: 0;
}

form input:focus, form select:focus{
    background-color: #dadada;
}

#psgs-aereas{
    margin-bottom: 20px;
}

#topicos{
    padding: 40px 0;
    width: 60%;
    height: 45vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgb(139, 139, 139);
}

.botao-roxo{
    background-color: var(--cor-rosa);
    padding: 10px 15px;
    margin: 5px;
    font-size: 15px;
    border-radius: 30px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.botao-roxo:hover{
    background-color: #c27284;
}

#topicos img{
    margin: 10px;
    border-radius: 5px;
}

.menor{
    width: 300px;
}

.topic-itens{
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 500px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* section informacoes */

.item{
    padding: 15px;
    margin: 5px;
    width: 28%;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: var(--cor-rosa);
}

.item p{
    margin-bottom: 15px;
}

.item h3{
    text-transform: uppercase;
    height: 20%;
    margin-bottom: 15px;
    text-align: center;
    display: flex;
    align-items: center;
    
}

.informacoes{
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;
}

#coluna{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5%;
}

#atencaoperso{
    display: flex;
    background-color: #d0d0d0;
    padding: 20px;
    border-radius: 15px;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* ESTILIZAÇÃO - FOOTER */

#rodape{
    background-color: #d0d0d0;
    box-shadow: 0 -4px 4px rgba(0 0 0, .5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: var(--cor-cinza);
    border-top: 2px solid #c7c7c7;
}

.redes-sociais{
    display: flex;
    justify-content: space-between;
}

.redes-sociais a{
    margin: 5px;
} 

.caracteristicas{
    border-bottom: 2px solid #64e2a7;
    background-color: #fff; 
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
}

.caracteristicas-itens{
    display: flex;
    justify-content: space-around;
    margin-top: 5%;

}

.caracteristicas-itens div{
    margin: 1.5%;
}
.caracteristicas-itens div h2{
    text-align: center;
    margin-bottom: 5%; 
    margin-left: -20%;
}